/css reset/


* {

margin: 0;
padding: 0;
box-sizing: border-box;

}

html {
    height: 800vh;
}
body {
    font-family: "open sans", sans-serif;
}

nav {
    padding: 0.8rem;
    margin-bottom: 2rem;
    list-style-type:none;
    
    
    }


nav .nav, nav .nav-logo {
    margin: 0.5rem;
    display: inline-block;
    position: FXED;

}
.right-nav { 
    left: 0;
    right: 0;
    float: right;
    margin-right: 4rem; 
    
    padding-right: 2;
 }

 .navbar {
 	position: sticky;}

 .tuitt-button { color:white;
                background:#c2195b;
                border-color: transparent;
                border-width: .7rem;
                border-radius: 1rem;
                margin-top: -2rem;
                font-weight: 600;
                }



.front-bg {
        
    background-image: url("laptop.jpg");
    min-height: 60vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    background-attachment: scroll;
    background-color: gray;
    background-blend-mode: multiply;
    

    }



.container {
        display: inline-block;
        color: white;
        width: 40%;
        float: right;
        margin-right: 8rem;
        text-align: right;
}

.title {
    font-family: Times new roman;
    font-size: 50px;
}

.subtitle {
    font-size: 20px;
    padding-top: 20px;
    font-weight: .1px;
}

.apply-button {

                color:white;
                background:#c2195b;
                border-color: transparent;
                border-width: 20px;
                border-radius:30px ;
        
                margin-top: 2rem;
                font-weight: 600;
}





.intro {
    margin-top: 5rem;
    display: inline-block;
    float: center;
}

.title-2 {
    font-size: 3rem;
    text-align: center;

}
.intro-description {
    display: block;
    margin-top: 5rem;
    text-align: center;

    float: center;
    

}

.title-3{
font-size: 3rem;
    text-align: center;
    margin-top: 3rem;

}

.prefooter-description {

    margin-top: 5rem;
    text-align: center;
}

.book-button {
  margin: 0;
  position: absolute;
  top: 150%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
 	 color:white;
	background:#c2195b;
	border-color: transparent;
	border-width: .7rem;
	border-radius: 1rem;
	margin-top: -2rem;
	font-weight: 600;
	text-align: center;
}

#footer1 {
	display: inline-block;
	text-align: center;
}